@import url(/css/container.css);

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
.hero {
  border-radius: 30px;

  height: 620px;
  background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url(../images/main-pic/main-pic-mob@1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}
.svg-div {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7px;
}
.section-our-benefits {
  background: #1e1823;
}
.nav-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #111;
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: #fd9222;
}
.simply-choc {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.03em;
  color: #111;
}
.simply {
  font-style: italic;
}
.hero-first-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-button {
  font-weight: 600;
  font-size: 14px;
  border-radius: 100px;
  padding: 12px 28px;
  width: 120px;
  height: 41px;
  border-style: none;
  color: #fff;
  background: #fd9222;
}
.hero-button:hover,
.hero-button:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
.hero-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 28px;
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}
.scrolldown {
  color: #111;
  width: 107px;
  height: 28px;
}
.hero-items {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.benefitsmain {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.section-our-benefits {
  padding-left: 20px;
  padding: 20px;
}
.description {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
.ingredients-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
}

/*Ingredients*/
.ingr-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style: none;
  margin-top: 40px;
}

/*End Ingri*/
.how-img {
  width: 100%;
}
.ingredients-section {
  margin-bottom: 60px;
}
.section-our-benefits {
  margin-bottom: 60px;
}
.taste {
  color: #fd9222;
}
.ingredients-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #111;
  text-align: center;
}

.pic-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}
.made {
  color: #fd9222;
}
.try-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.step-gide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 18px;
}
.try {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
}
.step-gide {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
.chocolate {
  color: #fd9222;
}
.names {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
}
.decrp {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
.leave-button {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

.leave-button:hover,
.leave-button:focus {
  color: #fff;
  background-color: #fd9222;
}
.scrolldown {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #fff;
}
.scrolldown:hover,
.scrolldown:focus {
  color: #fd9222;
}
.ingredients-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
}

.contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
.foter-addrs {
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url(../images/main-pic/main-pic-laptop@1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
