body{
    font-family: "Montserrat", serif;
}
a {
    text-decoration: none;
    }
    
ul {
    list-style: none;
    }
.navigation{
    
}
.nav-item-link{
    font-weight: 500;
font-size: 14px;
line-height: 1.14286;
letter-spacing: -0.02em;
color: #111;

}
.nav-item-link:hover,
.nav-item-link:focus{
    color: #fd9222;
}
.simply-choc{
    font-weight: 700;
font-size: 18px;
line-height: 1.11111;
letter-spacing: -0.03em;
color: #111;
}
.simply{
    font-style: italic;
}
.hero{
    background-color: #1e1823;
}
.hero-first-text{
    font-weight: 500;
font-size: 28px;
line-height: 1.21429;
letter-spacing: -0.03em;
color: #fff;
}
.hero-button{
    font-weight: 600;
font-size: 14px;
color: #111;
background-color: #fd9222;
}
.hero-button:hover,
.hero-button:focus{
    color: #fd9222;
    background-color: #fcf1e0;
}
.hero-link{
    font-weight: 600;
font-size: 14px;
color: #fff;
}
.hero-link:hover,
.hero-link:focus{
    color: #fd9222;
}
.scrolldown{
    width: 78px;
height: 18px;
color: #111;
}
.benefitsmain{
    font-weight: 600;
font-size: 18px;
}
.description{
    font-weight: 400;
font-size: 14px;
letter-spacing: -0.02em;
color: #111;

}
.ingredients-text{
    font-weight: 600;
font-size: 24px;
line-height: 1.16667;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #111;
}
.taste{
    color:#fd9222;;
}
.ingredients-p{
    font-weight: 400;
font-size: 14px;
line-height: 1.28571;
color: #111;
}

.pic-desc{
    font-weight: 600;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #111;
}
.made{
    color:#fd9222;
}
.try{
    font-weight: 600;
font-size: 18px;
line-height: 1.33333;
}
.step-gide{
    font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
}
.chocolate{
    color:#fd9222;
}
.names{
    font-weight: 600;
font-size: 18px;
line-height: 1.33333;
}
.decrp{
    font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
}
.leave-button{
    font-weight: 600;
font-size: 18px;
color: #111;
}
.leave-button:hover,
.leave-button:focus{
    color: #fff;
    background-color: #fd9222;
}
.scrolldown{
    font-weight: 500;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.03em;
color: #fff;
}
.scrolldown:hover,
.scrolldown:focus{
    color: #fd9222;
}
.contact{
    font-weight: 500;
font-size: 14px;
line-height: 1.28571;
}
.contacts{
    font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
}
.foter-addrs{
    font-style: normal;
}